!!!
%html
  %head
    %title CoffeePrefs
    = include_stylesheets :app
    = csrf_meta_tag
  %body
    #coffeeprefs
      #organisations 
        %ol#organisation-list
          %li
            %input#new-organisation{:type => 'text'}

    - unless Jammit.package_assets
      = javascript_tag(Jammit.packager.pack_templates(:app))

    = javascript_include_tag 'yepnope-min'
    = include_javascripts :app

    :javascript
      CoffeePrefs = {};
      CoffeePrefs.Organisations = new Organisations;
      CoffeePrefs.Creator = new Creator;

    %script{:type => 'text/javascript'}
      - @organisations.each do |org|
        == var org = new Organisation(#{org.to_json.html_safe})
        == CoffeePrefs.Organisations.add(org)

      CoffeePrefs.Creator.render();

  -# CoffeePrefs.Router = new Router;

  -# Backbone.history.start();
