!!!
%html
  %head
    %title CoffeePrefs
    = stylesheet_link_tag "application"
    = hoptoad_javascript_notifier.try(:html_safe)
    = csrf_meta_tag
  %body
    #coffeeprefs
      %nav
        %a.nav-link{:href => '/'}Organisations
      %section#organisations
        %ol#organisation-list
          %li
            %input#new-organisation{:type => 'text'}

      %section#people
        %h1#organisation-name
        #people
          %h2 People
          %ol#people-list
            %li
              %input#new-person{:type => 'text'}
        #want-drinks
          %h2 People who want drinks
          %ol#want-drinks-list

    = javascript_include_tag "application"

    %script{ :type => 'text/javascript' }
      \//<![CDATA[
      CoffeePrefs = {};
      CoffeePrefs.Organisations = new Organisations;
      CoffeePrefs.People = new People;
      CoffeePrefs.Creator = new Creator;
      CoffeePrefs.PeopleCreator = new PeopleCreator;

      - if @organisations.present?
        - @organisations.each do |o|
          CoffeePrefs.Organisations.add(new Organisation(#{o.to_json.html_safe}));

      CoffeePrefs.Router = new Router;
      Backbone.history.start({pushState: true});

      $('.nav-link').click(function(){
      CoffeePrefs.Router.navigate($(this).attr('href'), true);
      return false;
      });
      \//]]>


    = yield
