!!!
%html
  %head
    %title CoffeePrefs
    = stylesheet_link_tag "application"
    = hoptoad_javascript_notifier.try(:html_safe)
    = csrf_meta_tag
  %body
    #coffeeprefs
      %nav
        %a.nav-link{:href => '/'}Organisations
        %a#sign-in-link.nav-link{:href => '/sign-in', :style => 'display: none'}Sign In
        %a#sign-out-link.nav-link{:href => '/sign-out', :style => 'display: none'}Sign Out
        %a.nav-link{:href => '/preferences'}My Preferences
      %section#organisations
        %ol#organisation-list
          %li
            %input#new-organisation{:type => 'text', :placeholder => 'New organisation'}

      %section#people
        %header
          #organisation-name
        %section#all-people
          %header
            People
          %ol#people-list
            %li
              %input#new-person{:type => 'text', :placeholder => 'New person'}
        %section#want-drinks
          %header
            People who want drinks
          %ol#want-drinks-list

      %section#account
        %section#sign-in
          %header
            Sign in
          %form{:action => '/sign-in', :method => 'post'}
            %input{:type => 'text', :name => 'name'}
            %button Sign in

      %section#preferences
        %header
          My preferences
        %section#user-prefs


    = javascript_include_tag "application"

    %script{ :type => 'text/javascript' }
      \//<![CDATA[
      CoffeePrefs = {};
      CoffeePrefs.Organisations = new Organisations;
      CoffeePrefs.People = new People;
      CoffeePrefs.Creator = new Creator;
      CoffeePrefs.PeopleCreator = new PeopleCreator;
      CoffeePrefs.currentPerson = new Person;
      CoffeePrefs.AccountManager = new AccountManager;
      CoffeePrefs.PreferenceManager = new PreferenceManager;

      - if @organisations.present?
        - @organisations.each do |o|
          CoffeePrefs.Organisations.add(new Organisation(#{o.to_json.html_safe}));

      CoffeePrefs.Router = new Router;
      Backbone.history.start({pushState: true});

      if (CoffeePrefs.currentPerson.id === undefined){
      $('#sign-in-link').show();
      $('#sign-out-link').hide();
      }

      $('.nav-link').click(function(){
      CoffeePrefs.Router.navigate($(this).attr('href'), true);
      return false;
      });
      \//]]>

    = yield
