!!!
%html
  %head
    %title CoffeePrefs
    = include_stylesheets :app
    = csrf_meta_tag
  %body
    #coffeeprefs
      %section#organisations 
        %ol#organisation-list
          %li
            %input#new-organisation{:type => 'text'}

      %section#people
        %h1#organisation-name
        %ol#people-list
          %li
            %input#new-person{:type => 'text'}

    - unless Jammit.package_assets
      = javascript_tag(Jammit.packager.pack_templates(:app))

    = javascript_include_tag 'yepnope-min'
    = include_javascripts :app

    :javascript
      CoffeePrefs = {};
      CoffeePrefs.Organisations = new Organisations;
      CoffeePrefs.Creator = new Creator;
      CoffeePrefs.PeopleCreator = new PeopleCreator;

    %script{:type => 'text/javascript'}
      var org;
      - @organisations.each do |org|
        == org = new Organisation(#{org.to_json.html_safe})
        == CoffeePrefs.Organisations.add(org)

      CoffeePrefs.Creator.render();

      CoffeePrefs.Router = new Router;

      Backbone.history.start();
