!!!
%html
  %head
    %title CoffeePrefs
    = stylesheet_link_tag "application"
    = hoptoad_javascript_notifier.try(:html_safe)
    = csrf_meta_tag
  %body
    #coffeeprefs
      %nav
        %a{:href => '/'}Organisations
      %section#organisations
        %ol#organisation-list
          %li
            %input#new-organisation{:type => 'text'}

      %section#people
        %h1#organisation-name
        #people
          %ol#people-list
            %li
              %input#new-person{:type => 'text'}
        #want-drinks
          %ol#want-drinks-list

    = javascript_include_tag "application"

    %script{:type => 'text/javascript'}
      CoffeePrefs = {};
      CoffeePrefs.Organisations = new Organisations;
      CoffeePrefs.People = new People;
      CoffeePrefs.Creator = new Creator;
      CoffeePrefs.PeopleCreator = new PeopleCreator;

      var org;
      - @organisations.each do |org|
        == org = new Organisation(#{org.to_json.html_safe})
        == CoffeePrefs.Organisations.add(org)

      CoffeePrefs.Router = new Router;
      Backbone.history.start({pushState: true});
